<section class="container min-vh-100 inter-font">
  <h1 class="border-bottom border-4 border-black anton-regular">QUEM SOU EU</h1>
  <div class="mt-3 mb-5 row justify-content-around align-items-center">
    <div class="col-lg-4 p-5 d-flex justify-content-center align-items-center">
      <img
        class="rounded-5 p-2 img-fluid border border-3 border-black rounded-5"
        src="https://avatars.githubusercontent.com/u/49653939?v=4"
        alt="Abraão Moreira"
      />
    </div>
    <div class="col-lg-8 p-lg-5 text-black">
      <p class="fs-4">
        <strong>Olá! Sou Abraão Moreira, consultor de tecnologia</strong> apaixonado por transformar desafios em eficiência e resultados tangíveis para negócios e organizações.
        <br /><br />
        Minha experiência como <strong>Analista de TI na Prefeitura de Pindamonhangaba</strong> me proporcionou um know-how único em desburocratização e aceleração de processos. Lá, apliquei essa visão para otimizar operações, como a notável redução do tempo de abertura de empresas de dias para apenas minutos, utilizando soluções estratégicas.
        <br /><br />
        Com um sólido background como <strong>desenvolvedor fullstack</strong> (Angular, .NET, Python, PostgreSQL) e expertise na criação de ferramentas para análise de mercados financeiros (MQL4/MQL5), eu combino conhecimento técnico aprofundado com uma forte capacidade de identificar oportunidades e construir soluções tecnológicas práticas e sob medida que geram valor real.
        <br /><br />
        <strong>Sou Bacharel em Ciência e Tecnologia pela Universidade Federal de São Paulo</strong>, o que fundamenta minha abordagem técnica e estratégica para cada projeto."
      </p>
    </div>
  </div>
</section>
