<section class="container min-vh-100 inter-font">
  <h1 class="border-bottom border-4 border-black anton-regular">QUEM SOU EU</h1>
  <div class="mt-3 mb-5 row justify-content-around">
    <div class="col-lg-4 p-5">
      <img
        class="rounded-5 p-2 img-fluid border border-3 border-black rounded-5"
        src="https://avatars.githubusercontent.com/u/49653939?v=4"
        alt="Abraão Moreira"
      />
    </div>
    <div class="col-lg-8 p-lg-5 text-black">
      <p class="fs-4">
        <strong>Olá, meu nome é Abraão Moreira.</strong> Sou desenvolvedor fullstack,
        trabalhando com tecnologias como Angular, .NET, Python e PostgreSQL.
        Além disso, tenho expertise na criação de ferramentas para análise
        gráfica de mercados financeiros, utilizando as linguagens MQL4 e MQL5.
        Sou Bacharel em Ciência e Tecnologia, com formação pela Universidade Federal de São Paulo.
        Atualmente também trabalhando como servidor público municipal na cidade de Pindamonhangaba
        como Analista de Tecnologia de Informação.
      </p>
    </div>
  </div>
</section>
