<section class="container min-vh-100">
  <h1 class="border-bottom border-2 border-black">QUEM SOU EU</h1>
  <div class="mt-3 mb-5 row justify-content-around">
    <div class="col-lg-4 p-5">
      <img
        class="rounded-5 p-2 img-fluid border border-3 border-black rounded-5"
        src="https://avatars.githubusercontent.com/u/49653939?v=4"
        alt="Abraão Moreira"
      />
    </div>
    <div class="col-lg-8 p-lg-5 text-black">
      <p class="fs-4">
        <strong>Olá, meu nome é Abraão Moreira,</strong> sou desenvolvedor de software,
        atualmente trabalhando como desenvolvedor web fullstack (Angular + .NET)
        e de ferramentas para análise gráfica de mercados financeiros em mql4 e
        mql5, além de twitteiro semi-profissional nas horas vagas. Sou Bacharel
        em Ciência e Tecnologia formado pela Universidade Federal de São Paulo.
      </p>
    </div>
  </div>
</section>
