<section class="container inter-font">
  <div class="d-flex vh-100 justify-content-center align-items-center">
    <div class="text-center">
      <div class="mb-4">
        <img
          src="../../../assets/images/Logo.svg"
          alt="Abraão Moreira"
          width="250"
          class="img-fluid"
        />
      </div>
      <h1 class="fs-1 text-black mb-3 anton-regular">Abraão Moreira</h1>
      <div class="fs-2 text-black mb-4">
        <span class="dynamic-text">{{currentText}}</span>
      </div>
      <div class="fs-1 d-flex justify-content-center gap-3 mb-5">
        <a href="mailto:abraaol.moreira@mail.com" class="text-black">
          <i class="bi bi-envelope-fill"></i>
        </a>
        <a href="https://www.linkedin.com/in/abraao-moreira/" target="_blank" class="text-black">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://github.com/AbraaoM" target="_blank" class="text-black">
          <i class="bi bi-github"></i>
        </a>
        <a href="https://x.com/abraaomoreira_" target="_blank" class="text-black">
          <i class="bi bi-twitter-x"></i>
        </a>
      </div>
      <div class="d-flex justify-content-center p-5">
        <a class="arrows-container" href="#about">
          <div [ngClass]="'arrow arrow-one down'">
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
